@model Customer

@{
    ViewData["Title"] = "Delete Customer";
}
<h2 class="text-primary m-4 text-danger">Delete Customer</h2>

<div class="col-s-auto col-lg-4 mb-1 mt-5  fw-bold small text-primary">
    <label asp-for="Guid">Customer Id</label>
    <input asp-for="Guid" class="form-control fw-bold" disabled />
</div>

<form method="post" asp-action="DeleteCustomer_Post" asp-route-Id="@Model.Guid" class="mt-2 fw-bold">
    <div class="row card card-body bg-light shadow-lg">
        <div class="row w-100 mb-4">
            <div class="col-s-auto col-lg-4 mb-3">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" disabled/>
            </div>

            <div class=" col-s-auto col-lg-4 mb-3">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" disabled/>
            </div>

            <div class="col-s-auto col-lg-4 mb-3">
                <label asp-for="Birthdate" class=""></label>
                <input asp-for="Birthdate" type="date" class="form-control" disabled/>
            </div>
        </div>

        <div class="row w-100 mb-5">
            <div class="col-s-auto col-lg-4 mb-2">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" disabled/>
            </div>

            <div class=" col-s-auto col-lg-4 mb-2">
                <label asp-for="Phone">Phone</label>
                <input asp-for="Phone" class="form-control" disabled/>
            </div>
        </div>

        <div class="w-75 m-5 text-center row">
            <input type="submit" class="btn btn-danger fw-bold m-2 col-sm-auto col-lg-3" value="Delete Customer" />
            <a asp-action="Index" class="btn btn-primary m-2 col-sm-auto col-lg-3">Cancel</a>
        </div>
    </div>
</form>
