@model List<Book>
@{
    ViewData["Title"] = "Borrowed Books";
}

<br />
<div class="text-center m-4">
    <h3 class="text-dark font-monospace fw-bold ">Borrowed Books (<span class="small text-primary">@Model?.Count</span>)</h3>
</div>
<br />

@if (Model is null)
{
    <em>Loading ......</em>
}
else if (Model.Any() is false)
{
    <h4>No Borrowed Book Was Found in the database for this Customer</h4>
}
else
{
    <div class="container-fluid overflow-auto m-0 p-0">
        <table class="table table-bordered table-striped text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Returned</th>
                </tr>
            </thead>
            <tbody class="border-1 border-dark">
                @foreach (var book in Model)
                {
                    <tr>
                        <td class="col-3 ">@book.Title</td>
                        <td class="col-2 ">@book.Author</td>
                        <td class="col-1 ">@book.ISBN</td>
                        @if (book.Available)
                        {
                            <td class="bg-success bg-opacity-50">Yes</td>
                        }
                        else
                        {
                            <td class="col-1 bg-warning bg-opacity-50">NO</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
}

<br />
<br />
<div class="m-2">
    <a class="btn btn-primary m-3" asp-controller="Customer" asp-action="Index" style="width:100px">Back</a>
</div>